#wizard, #druid, #cleric, #sorcerer, #error {
  display: none;
}

#wizard p {
  margin: 12px;
  border: 2px solid #03448a;
  padding: 4px;
  background-color: #a3e9f0;
}

#wizard img {
  float: left;
}

#druid p {
  margin: 12px;
  border: 2px solid #d3f054;
  padding: 4px;
  background-color: #c9e8b0;
}

#druid img{
  float: left;
}

#cleric p {
  margin: 12px;
  border: 2px solid #a439b3;
  padding: 4px;
  background-color: #548791
}

#cleric img {
  float: left;
}

#sorcerer p {
  margin: 12px;
  border: 2px solid #d44a4a;
  padding: 4px;
  background-color: #e39494
}

#sorcerer img {
  float: left;
}